In [1]:
import pandas as pd
import numpy as np 

import warnings
warnings.filterwarnings('ignore')

In [2]:
import os
os.getcwd()
os.chdir("D:\ABHYAZ INTERNSHIP\MTC")

In [3]:
df1 = pd.read_csv(r"Industry_Final_Cleaned.csv")
df1.head()

,Company Name,Name,Email ID,Designation,Mobile No,Address,Pincode,City,Website,Company Type,State,Country,Phone,Company details
0,Sri & Sri,M Sri,vicky24@vsnl.com,NaN,9886743577,Mathikere NULL 87,560054,Bangalore,NaN,Consulting services,NaN,India,NaN,NaN
1,Si Systems Software Solutions,Nagesh,internproj2011@gmail.com,NaN,9739489228,"JP Nagar 24th Main 2nd Phase, JP Nagar 79/A, ...",560078,Bangalore,www.sisystemss.com,Consulting services,NaN,India,NaN,NaN
2,Vital Certifications,Rakesh Dwivedi,info@vitalcertifications.com,NaN,9716231789,"Ganesh Nagar Raja Garden, Ring Road 18",110018,Delhi,www.vitalcertifications.com,Consulting services,NaN,India,NaN,NaN
3,Telcavepug Pvt Ltd,Praveen John Mohare,sales@telcave.co.in,NaN,9538880471,Domlur NULL 244,560071,Bangalore,www.telcave.co.in,Consulting services,NaN,India,NaN,NaN
4,Nevis Networks,Srinivas L,sriprinks@gmail.com,NaN,9322902052,NaN,NaN,Pune,NaN,Consulting services,Maharashtra,India,NaN,NaN

In [4]:
# Extracting the data for contact list from main data

In [5]:
# Extract columns A, B, and C

df2 = df1[['Company Name','Email ID','Company Type']]

In [6]:
df2.head()

,Company Name,Email ID,Company Type
0,Sri & Sri,vicky24@vsnl.com,Consulting services
1,Si Systems Software Solutions,internproj2011@gmail.com,Consulting services
2,Vital Certifications,info@vitalcertifications.com,Consulting services
3,Telcavepug Pvt Ltd,sales@telcave.co.in,Consulting services
4,Nevis Networks,sriprinks@gmail.com,Consulting services

In [7]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 582256 entries, 0 to 582255
Data columns (total 3 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Company Name  582256 non-null  object
 1   Email ID      582211 non-null  object
 2   Company Type  582256 non-null  object
dtypes: object(3)
memory usage: 13.3+ MB

In [8]:
df2.isnull().sum()

Company Name     0
Email ID        45
Company Type     0
dtype: int64

In [9]:
df2 = df2.dropna()

In [10]:
df2.isnull().sum()

Company Name    0
Email ID        0
Company Type    0
dtype: int64

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 582211 entries, 0 to 582255
Data columns (total 3 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Company Name  582211 non-null  object
 1   Email ID      582211 non-null  object
 2   Company Type  582211 non-null  object
dtypes: object(3)
memory usage: 17.8+ MB

In [12]:
pd.DataFrame(df2.isnull().sum(),columns=['Number of missing values'])

              Number of missing values
Company Name                         0
Email ID                             0
Company Type                         0

In [13]:
# trim white spaces

df2 = df2.apply(lambda x: x.str.strip() if x.dtype == 'object' else x)

In [14]:
df2 = df2.dropna(subset=["Email ID","Company Name"])

In [15]:
df2.shape

(582211, 3)

In [16]:
df2.duplicated().sum()

32265

In [17]:
df2 = df2.drop_duplicates()

In [18]:
df2.shape

(549946, 3)

In [19]:
df2.to_csv('contact_list_final.csv', index=False, header=True)

In [ ]:
# splitting the contact list data based on company type

In [20]:
os.chdir("D:\ABHYAZ INTERNSHIP\MTC\Contact List Data")

In [20]:
# spliting the data based on COMPANY TYPE
    
# Use the groupby function to group the data by the column you want to split by:

grouped_data = df2.groupby('Company Type')

In [21]:
# Loop through the groups and save them as separate Excel files:

for group_name, group_data in grouped_data:
    group_data.to_csv(f'{group_name}.csv', index=False)

DIVIDING EACH COMPANY TYPE FILE INTO SMALL FILES

In [22]:
os.chdir("D:\ABHYAZ INTERNSHIP\MTC\Contact List Data\Company Secretary")

In [23]:
chunk_size = 500
split = 1

for chunk in pd.read_csv('Company Secretary.csv', chunksize=chunk_size):
    chunk.to_csv('Company Secretary ' + str(split) + '.csv', index=False)
    split += 1

In [24]:
os.chdir("D:\ABHYAZ INTERNSHIP\MTC\Contact List Data\Consulting services")

In [25]:
chunk_size = 500
split = 1

for chunk in pd.read_csv('Consulting services.csv', chunksize=chunk_size):
    chunk.to_csv('Consulting services ' + str(split) + '.csv', index=False)
    split += 1

In [26]:
os.chdir("D:\ABHYAZ INTERNSHIP\MTC\Contact List Data\Education")

In [27]:
chunk_size = 500
split = 1

for chunk in pd.read_csv('Education.csv', chunksize=chunk_size):
    chunk.to_csv('Education ' + str(split) + '.csv', index=False)
    split += 1

In [28]:
os.chdir("D:\ABHYAZ INTERNSHIP\MTC\Contact List Data\Financial")

In [29]:
chunk_size = 500
split = 1

for chunk in pd.read_csv('Financial.csv', chunksize=chunk_size):
    chunk.to_csv('Financial ' + str(split) + '.csv', index=False)
    split += 1

In [30]:
os.chdir("D:\ABHYAZ INTERNSHIP\MTC\Contact List Data\Government")

In [31]:
chunk_size = 500
split = 1

for chunk in pd.read_csv('Government.csv', chunksize=chunk_size):
    chunk.to_csv('Government ' + str(split) + '.csv', index=False)
    split += 1

In [32]:
os.chdir("D:\ABHYAZ INTERNSHIP\MTC\Contact List Data\Information Technology")

In [33]:
chunk_size = 500
split = 1

for chunk in pd.read_csv('Information Technology.csv', chunksize=chunk_size):
    chunk.to_csv('Information Technology ' + str(split) + '.csv', index=False)
    split += 1

In [34]:
os.chdir("D:\ABHYAZ INTERNSHIP\MTC\Contact List Data\Manufacturing")

In [35]:
chunk_size = 500
split = 1

for chunk in pd.read_csv('Manufacturing.csv', chunksize=chunk_size):
    chunk.to_csv('Manufacturing ' + str(split) + '.csv', index=False)
    split += 1

In [36]:
os.chdir("D:\ABHYAZ INTERNSHIP\MTC\Contact List Data\Media")

In [37]:
chunk_size = 500
split = 1

for chunk in pd.read_csv('Media.csv', chunksize=chunk_size):
    chunk.to_csv('Media ' + str(split) + '.csv', index=False)
    split += 1

In [38]:
os.chdir("D:\ABHYAZ INTERNSHIP\MTC\Contact List Data\others")

In [39]:
chunk_size = 500
split = 1

for chunk in pd.read_csv('others.csv', chunksize=chunk_size):
    chunk.to_csv('others ' + str(split) + '.csv', index=False)
    split += 1

In [40]:
os.chdir("D:\ABHYAZ INTERNSHIP\MTC\contact list data\Professional")

In [41]:
chunk_size = 500
split = 1

for chunk in pd.read_csv('Professional.csv', chunksize=chunk_size):
    chunk.to_csv('Professional ' + str(split) + '.csv', index=False)
    split += 1

In [42]:
os.chdir("D:\ABHYAZ INTERNSHIP\MTC\Contact List Data\Telecom")

In [43]:
chunk_size = 500
split = 1

for chunk in pd.read_csv('Telecom.csv', chunksize=chunk_size):
    chunk.to_csv('Telecom ' + str(split) + '.csv', index=False)
    split += 1

In [44]:
os.chdir("D:\ABHYAZ INTERNSHIP\MTC\Contact List Data\Trade")

In [45]:
chunk_size = 500
split = 1

for chunk in pd.read_csv('Trade.csv', chunksize=chunk_size):
    chunk.to_csv('Trade ' + str(split) + '.csv', index=False)
    split += 1

In [46]:
os.chdir("D:\\ABHYAZ INTERNSHIP\\MTC\\Contact List Data\\Utility")

In [47]:
chunk_size = 500
split = 1

for chunk in pd.read_csv('Utility.csv', chunksize=chunk_size):
    chunk.to_csv('Utility ' + str(split) + '.csv', index=False)
    split += 1