In [2]:
import pandas as pd
import numpy as np 
import plotly.express as px

import warnings
warnings.filterwarnings('ignore')

In [3]:
import os
os.getcwd()
os.chdir("D:\ABHYAZ INTERNSHIP\MTC")

In [3]:
df = pd.read_csv(r"industry_clean_complete.csv")
df.head()

,S No,Company Name,Name,Email ID,Designation,Mobile No,Address,Pincode,City,Website,Company Type,State,Country,Phone,Company details,Unnamed: 15
0,1,Om Sai Telecom,Sunder Singh,NaN,NaN,7838854012,Lohia Nagar 301/5,201001,Ghaziabad,NaN,Consulting services,NaN,India,NaN,NaN,NaN
1,2,Creative Marketing,Gobind,NaN,NaN,9833945483,Chembur West Abdul Rehman Street 28,400071,Mumbai,NaN,Consulting services,NaN,India,NaN,NaN,NaN
2,3,Magus Limited,Imran,NaN,NaN,9930744868,AAI Colony 36,400099,Mumbai,www.magussecure.com,Consulting services,NaN,India,NaN,NaN,NaN
3,4,Sachdeva Communication,NaN,NaN,NaN,9810102655,Sarojini Nagar Ina Market 2,110023,Delhi,NaN,Consulting services,NaN,India,NaN,NaN,NaN
4,5,Services 24u,Mr ravinder singh,NaN,NaN,9953649795,South Extension Kanpur ambader nager 16/351,110049,Delhi,NaN,Consulting services,NaN,India,NaN,NaN,NaN

In [4]:
df.tail()

,S No,Company Name,Name,Email ID,Designation,Mobile No,Address,Pincode,City,Website,Company Type,State,Country,Phone,Company details,Unnamed: 15
1037687,1037688,Mohit Suresh Aggarwal and Associates,Mohit Aggarwal,mohitaggarwalca@yahoo.co.in,NaN,9815336699,NaN,NaN,NaN,NaN,others,NaN,NaN,0172 \n4613466,others,NaN
1037688,1037689,PTU's Gyan Jyoti School of TQM and Entrepreneu...,Naresh Chawla,consultant@tqmschool.org,NaN,0172 \n6541187,NaN,NaN,NaN,NaN,others,NaN,NaN,NaN,others,NaN
1037689,1037690,ESS PEE Quality Products,Surinder Pal SIngh,spsingh@beeshoney.in,NaN,9041495989,NaN,NaN,NaN,NaN,others,NaN,NaN,0172 \n2233221,others,NaN
1037690,1037691,Vikas Industries,Vikas Mittaql,NaN,NaN,9815239700,NaN,NaN,NaN,NaN,others,NaN,NaN,0172 \n4604700,others,NaN
1037691,1037692,GST Axperts,H.S.Sharma,gstaxperts@gmail.com,NaN,9872009018,NaN,NaN,NaN,NaN,others,NaN,NaN,0172 \n2557666,others,NaN

In [5]:
df.shape

(1037692, 16)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1037692 entries, 0 to 1037691
Data columns (total 16 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   S No             1037692 non-null  int64
 1   Company Name     897726 non-null   object
 2   Name             986454 non-null   object
 3   Email ID         1025940 non-null  object
 4   Designation      461167 non-null   object
 5   Mobile No        614322 non-null   object
 6   Address          448705 non-null   object
 7   Pincode          28071 non-null    object
 8   City             528187 non-null   object
 9   Website          18970 non-null    object
 10  Company Type     1037609 non-null  object
 11  State            965997 non-null   object
 12  Country          1036940 non-null  object
 13  Phone            416 non-null      object
 14  Company details  819770 non-null   object
 15  Unnamed: 15      4 non-null        object
dtypes: int64(1), object(15)
memory usage: 126.7+ MB

In [7]:
df.duplicated().sum()

0

In [8]:
df.drop(['Unnamed: 15','S No'], axis=1, inplace=True)
df.head()

,Company Name,Name,Email ID,Designation,Mobile No,Address,Pincode,City,Website,Company Type,State,Country,Phone,Company details
0,Om Sai Telecom,Sunder Singh,NaN,NaN,7838854012,Lohia Nagar 301/5,201001,Ghaziabad,NaN,Consulting services,NaN,India,NaN,NaN
1,Creative Marketing,Gobind,NaN,NaN,9833945483,Chembur West Abdul Rehman Street 28,400071,Mumbai,NaN,Consulting services,NaN,India,NaN,NaN
2,Magus Limited,Imran,NaN,NaN,9930744868,AAI Colony 36,400099,Mumbai,www.magussecure.com,Consulting services,NaN,India,NaN,NaN
3,Sachdeva Communication,NaN,NaN,NaN,9810102655,Sarojini Nagar Ina Market 2,110023,Delhi,NaN,Consulting services,NaN,India,NaN,NaN
4,Services 24u,Mr ravinder singh,NaN,NaN,9953649795,South Extension Kanpur ambader nager 16/351,110049,Delhi,NaN,Consulting services,NaN,India,NaN,NaN

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1037692 entries, 0 to 1037691
Data columns (total 14 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   Company Name     897726 non-null   object
 1   Name             986454 non-null   object
 2   Email ID         1025940 non-null  object
 3   Designation      461167 non-null   object
 4   Mobile No        614322 non-null   object
 5   Address          448705 non-null   object
 6   Pincode          28071 non-null    object
 7   City             528187 non-null   object
 8   Website          18970 non-null    object
 9   Company Type     1037609 non-null  object
 10  State            965997 non-null   object
 11  Country          1036940 non-null  object
 12  Phone            416 non-null      object
 13  Company details  819770 non-null   object
dtypes: object(14)
memory usage: 110.8+ MB

In [10]:
# trim white spaces

df = df.apply(lambda x: x.str.strip() if x.dtype == 'object' else x)

In [11]:
# removing numeric values 

df['Company Name'] = df['Company Name'].replace(to_replace=r'\d+',value='',regex=True)

In [12]:
df.isnull().sum()

Company Name        139966
Name                 51238
Email ID             11752
Designation         576525
Mobile No           446282
Address             588987
Pincode            1021417
City                509505
Website            1018722
Company Type            83
State                71695
Country                752
Phone              1037276
Company details     217922
dtype: int64

In [13]:
# df["Company Name"].replace({'&':'and'})

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1037692 entries, 0 to 1037691
Data columns (total 14 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   Company Name     897726 non-null   object
 1   Name             986454 non-null   object
 2   Email ID         1025940 non-null  object
 3   Designation      461167 non-null   object
 4   Mobile No        591410 non-null   object
 5   Address          448705 non-null   object
 6   Pincode          16275 non-null    object
 7   City             528187 non-null   object
 8   Website          18970 non-null    object
 9   Company Type     1037609 non-null  object
 10  State            965997 non-null   object
 11  Country          1036940 non-null  object
 12  Phone            416 non-null      object
 13  Company details  819770 non-null   object
dtypes: object(14)
memory usage: 110.8+ MB

In [15]:
# removing all the special characters except &

df["Company Name"] = df["Company Name"].str.replace('[^a-zA-Z0-9&\s]',' ', regex=True)

In [16]:
df['Email ID'] = df['Email ID'].str.replace(r'^[. ]', '')

In [17]:
df['Company Name'] = df['Company Name'].str.replace(r'^[&]', '')

In [18]:
df = df.dropna(subset=["Email ID","Company Name"])

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 886283 entries, 11 to 1037691
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Company Name     886283 non-null  object
 1   Name             838247 non-null  object
 2   Email ID         886283 non-null  object
 3   Designation      461082 non-null  object
 4   Mobile No        449902 non-null  object
 5   Address          334844 non-null  object
 6   Pincode          16052 non-null   object
 7   City             377199 non-null  object
 8   Website          17945 non-null   object
 9   Company Type     886253 non-null  object
 10  State            827213 non-null  object
 11  Country          885759 non-null  object
 12  Phone            379 non-null     object
 13  Company details  713086 non-null  object
dtypes: object(14)
memory usage: 101.4+ MB

In [20]:
df.shape

(886283, 14)

In [21]:
df.duplicated().sum()

15466

In [22]:
df = df.drop_duplicates()

In [23]:
df.shape

(870817, 14)

In [24]:
df['Company Name'] = df['Company Name'].str.title()
df['Name'] = df['Name'].str.title()

not any|Self employed(Retired)|

In [25]:
# deleting rows 

df = df[~((df['Company Name'].str.lower().str.contains('yes|xxx|none|pursuing|accountant|leaqg',case=False))|
        (df['Company Name'].str.lower().str.contains('Advocate|no|right now|not|jobless|freshar',case=False))|
        (df['Company Name'].str.lower().str.contains('self|yyy|HS|TS|NA|presently|perfect|accountent|WORG',case=False))|
        (df['Company Name'].str.lower().str.contains('student|zxy|recently|best|one of the|unemployee',case=False))|
        (df['Company Name'].str.lower().str.contains('part time|parttime|searching|left |have a|WWW',case=False))|
        (df['Company Name'].str.lower().str.contains('jounior|senoir|assist|as a|as an|education|as ',case=False))|
        (df['Company Name'].str.lower().str.contains('nowhere|Myself|own|Fresheer|executive|operator ',case=False))|
        (df['Company Name'].str.lower().str.contains('Current|looking|Graduate|Undisclosed',case=False)))]

In [26]:
df = df[~((df['Company Name'].str.lower().str.contains('employer|Worked|Freshner|freshir|LANCING',case=False))|
        (df['Company Type'].str.lower().str.contains('Accoung|consulg|bilg|freshre|freshier|candidate',case=False))|
        (df['Company Name'].str.lower().str.contains('m software|frelancing|mention|unemployeed',case=False))|
        (df['Company Type'].str.lower().str.contains('Working|civil eneer|N.A|un employee|no ',case=False))|
        (df['Company Type'].str.lower().str.contains('Freshes|good|MBA|Employed|front office',case=False))|
        (df['Company Type'].str.lower().str.contains('freshear|Accountant|inter face|self',case=False)))]

In [27]:
df = df[~((df['Company Type'].str.lower().str.contains('customer|Human Resource|Backoffice|C A FIRM|practise',case=False))|
        (df['Company Type'].str.lower().str.contains('consuig|Content Keeper|Cofidential|Consulg|schhol|cyber cafe',case=False))|
        (df['Company Name'].str.lower().str.contains('COnfidential|Confedential|teacher|CA firm|N.A.',case=False))|
        (df['Company Name'].str.lower().str.contains('(P) Ltd.|fresher|cofi|n a|A LAW|no.|others',case=False)))]

In [28]:
df = df[~((df['Company Type'].str.lower().str.contains('leag|firstcall|councellor|Caller',case=False))|
          (df['Company Type'].str.lower().str.contains('Confidencial|disclosed|seeking|freasher',case=False))|
          (df['Company Type'].str.lower().str.contains('fesher|later|work from home|Private Employee',case=False))|
         (df['Company Type'].str.lower().str.contains('firstcall|back office|worg|confidental|fesher',case=False)))]

In [29]:
df = df[~df['Company Name'].str.lower().str.startswith('backend')]
# df = df[~df['Company Name'].str.lower().str.startswith('Caller')]
df = df[~df['Company Name'].str.lower().str.startswith('A Leag')]
df = df[~df['Company Name'].str.lower().str.startswith('back end')]
df = df[~df['Company Name'].str.lower().str.startswith('Sales Executive')]
df = df[~df['Company Name'].str.lower().str.startswith('call centre')]
df = df[~df['Company Name'].str.lower().str.startswith('callcentre')]
df = df[~df['Company Name'].str.lower().str.startswith('call')]
df = df[~df['Company Name'].str.lower().str.startswith('SALESMAN')]
df = df[~df['Company Name'].str.lower().str.startswith('CallCentres')]
df = df[~df['Company Name'].str.lower().str.startswith('backward |sale')]
df = df[~df['Company Name'].str.lower().str.startswith('call ')]
df = df[~df['Company Name'].str.lower().str.startswith('abb')]
df = df[~df['Company Name'].str.lower().str.startswith('audit firm')]
df = df[~df['Company Name'].str.lower().str.startswith('XYZ ')] 
df = df[~df['Company Name'].str.lower().str.startswith('nil ')]
df = df[~df['Company Name'].str.lower().str.startswith('confi')]
df = df[~df['Company Name'].str.lower().str.startswith('free')]
df = df[~df['Company Name'].str.lower().str.startswith('Tele')]
df = df[~df['Company Name'].str.lower().str.startswith('junior')]

In [30]:
df = df[~df['Company Name'].str.lower().str.startswith('charted')]
df = df[~df['Company Name'].str.lower().str.startswith('college')]
df = df[~df['Company Name'].str.lower().str.startswith('jr.|advisor')]
df = df[~df['Company Name'].str.lower().str.startswith('charter')]
df = df[~df['Company Name'].str.lower().str.startswith('admin')]
df = df[~df['Company Name'].str.lower().str.startswith('blank')]
df = df[~df['Company Name'].str.lower().str.startswith('back ')]
df = df[~df['Company Name'].str.lower().str.startswith('Consultant ')]
df = df[~df['Company Name'].str.lower().str.startswith('consulate ')]
df = df[~df['Company Name'].str.lower().str.startswith('contsultancy')]
df = df[~df['Company Name'].str.lower().str.startswith('ccou ')]
df = df[~df['Company Name'].str.lower().str.startswith('assi ')]
df = df[~df['Company Name'].str.lower().str.startswith('asis')]
df = df[~df['Company Name'].str.lower().str.startswith('consultent')]
df = df[~df['Company Name'].str.lower().str.startswith('ce ')]
df = df[~df['Company Name'].str.lower().str.startswith('resource')]
df = df[~df['Company Name'].str.lower().str.startswith('abb')]
df = df[~df['Company Name'].str.lower().str.startswith('ab ')]
df = df[~df['Company Name'].str.lower().str.startswith('aa ')]
df = df[~df['Company Name'].str.lower().str.startswith('abm')]
df = df[~df['Company Name'].str.lower().str.startswith('Consultancy')]
df = df[~df['Company Name'].str.lower().str.startswith('computer operator')]

In [43]:
# drop rows where the column has single character

df = df.drop(df[df['Company Name'].str.len() == 1].index)

In [32]:
df = df.drop(df[df['Company Name'] == "work"].index)
df = df.drop(df[df['Company Name'] == "BackOffice"].index)
df = df.drop(df[df['Company Name'] == "Feedback"].index)
df = df.drop(df[df['Company Name'] == "employee"].index)

In [33]:
df["Company Name"] = df["Company Name"].str.replace("abc|ABCD|abc co.|Abc|hotel|NA|no|yaa|www.|.in|.com|Aa|Flat", "",case=False)
df["Company Name"] = df["Company Name"].str.replace("|%|Customer|CONFIDENTIAL|care|CS|RR|Big|Abc|abcxyz", "",case=False)
df["Company Name"] = df["Company Name"].str.replace("self pitp &stp practicing|ACCOUNTANT|N A|ssistnt", "",case=False)
df["Company Name"] = df["Company Name"].str.replace("customer|accounts|ccountnt|abcd|xyzabcd|AAA|aaa", "",case=False)

In [34]:
df.shape

(586936, 14)

In [ ]:
# trim white spaces

df = df.apply(lambda x: x.str.strip() if x.dtype == 'object' else x)

In [35]:
df = df.dropna(subset=["Email ID","Company Name"])

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 586936 entries, 11 to 1037688
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Company Name     586936 non-null  object
 1   Name             550810 non-null  object
 2   Email ID         586936 non-null  object
 3   Designation      315162 non-null  object
 4   Mobile No        289736 non-null  object
 5   Address          212509 non-null  object
 6   Pincode          12402 non-null   object
 7   City             235632 non-null  object
 8   Website          13406 non-null   object
 9   Company Type     586924 non-null  object
 10  State            543860 non-null  object
 11  Country          586563 non-null  object
 12  Phone            293 non-null     object
 13  Company details  477458 non-null  object
dtypes: object(14)
memory usage: 67.2+ MB

In [37]:
df.shape

(586936, 14)

In [38]:
df.duplicated().sum()

1

In [39]:
df = df.drop_duplicates()

In [44]:
df.shape

(586202, 14)

In [45]:
df.to_csv('Industry_Final_Cleaned.csv', index=False, header=True)

In [ ]:
df1 = pd.read_csv(r"Industry_Final_Cleaned.csv")
df1.head()

In [ ]:
# splitting the industry data based on company type

In [4]:
df1 = pd.read_csv(r"Industry_Final_Cleaned.csv")
df1.head()

,Company Name,Name,Email ID,Designation,Mobile No,Address,Pincode,City,Website,Company Type,State,Country,Phone,Company details
0,Sri & Sri,M Sri,vicky24@vsnl.com,NaN,9886743577,Mathikere NULL 87,560054,Bangalore,NaN,Consulting services,NaN,India,NaN,NaN
1,Si Systems Software Solutions,Nagesh,internproj2011@gmail.com,NaN,9739489228,"JP Nagar 24th Main 2nd Phase, JP Nagar 79/A, ...",560078,Bangalore,www.sisystemss.com,Consulting services,NaN,India,NaN,NaN
2,Vital Certifications,Rakesh Dwivedi,info@vitalcertifications.com,NaN,9716231789,"Ganesh Nagar Raja Garden, Ring Road 18",110018,Delhi,www.vitalcertifications.com,Consulting services,NaN,India,NaN,NaN
3,Telcavepug Pvt Ltd,Praveen John Mohare,sales@telcave.co.in,NaN,9538880471,Domlur NULL 244,560071,Bangalore,www.telcave.co.in,Consulting services,NaN,India,NaN,NaN
4,Nevis Networks,Srinivas L,sriprinks@gmail.com,NaN,9322902052,NaN,NaN,Pune,NaN,Consulting services,Maharashtra,India,NaN,NaN

In [5]:
df1.shape

(582256, 14)

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 582256 entries, 0 to 582255
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Company Name     582256 non-null  object
 1   Name             546147 non-null  object
 2   Email ID         582211 non-null  object
 3   Designation      315149 non-null  object
 4   Mobile No        285063 non-null  object
 5   Address          209068 non-null  object
 6   Pincode          12383 non-null   object
 7   City             230978 non-null  object
 8   Website          13397 non-null   object
 9   Company Type     582256 non-null  object
 10  State            539284 non-null  object
 11  Country          581896 non-null  object
 12  Phone            293 non-null     object
 13  Company details  474310 non-null  object
dtypes: object(14)
memory usage: 62.2+ MB

In [7]:
df1.duplicated().sum()

0

In [8]:
# splitting the contact list data based on company type

In [10]:
os.chdir("D:\ABHYAZ INTERNSHIP\MTC\Industry Split data")

In [11]:
# spliting the data based on COMPANY TYPE
    
# Use the groupby function to group the data by the column you want to split by:

grouped_data = df1.groupby('Company Type')

In [12]:
# Loop through the groups and save them as separate Excel files:

for group_name, group_data in grouped_data:
    group_data.to_csv(f'{group_name}.csv', index=False)