In [1]:
import pandas as pd
import numpy as np

In [2]:
import os
os.getcwd()
os.chdir("D:\ABHYAZ INTERNSHIP\MTC")

In [3]:
# Load the Excel file into a pandas dataframe

pec = pd.read_excel(r'PEC-Database.xlsx')

In [4]:
pec.head()

,SID,Department Name,NAME,FATHER NAME,MOTHER NAME,CONTACTNUMBER,EMAILID
0,19101001.0,Aerospace Engineering,JATIN KUMAR MANUJA,RAVINDRA KUMAR MANUJA,JYOTI,7375090883,JATINMANUJA84@GMAIL.COM
1,19101002.0,Aerospace Engineering,ABHI SHARMA,SATINDER PAL,SNEH LATA,9816207608,ABHISHARMA8226@GMAIL.COM
2,19101003.0,Aerospace Engineering,HARNAM SINGH MALHOTRA,HARVINDER PAL,NaN,7807200038,EXTRAVIADOLIGERO@GMAIL.COM
3,19101004.0,Aerospace Engineering,DIVIJ ARORA,KUNAL ARORA,KAREN ARORA,7973547703,DIVIJARTORA28@GMAIL.COM
4,19101005.0,Aerospace Engineering,PALVI,RAJIV KUMAR CHOPRA,MONIKA CHOPRA,7526837772,PALVICHOPRA10@GMAIL.COM

In [5]:
pec = pd.ExcelFile('PEC-Database.xlsx')

# Loop through each sheet in the Excel file
for sheet_name in pec.sheet_names:
    
    # Load the sheet into a pandas dataframe
    sheet = pd.read_excel(pec, sheet_name)
    
    # Save the sheet to a separate file
    sheet.to_excel(f'{sheet_name}.xlsx', index=False)

In [ ]:
# file merge

merge=[industry_nagpur,gulf]

merge=[address,Pincode] 

Address=pd.concat(merge)

https://datagy.io/create-new-columns-in-pandas/

In [ ]:
# Split String Columns in Pandas

df[['First Name New', 'Last Name New']] = df['Name'].str.split(' ', expand=True)
print(df)

In [ ]:
import pandas as pd

# create a dataframe
df = pd.DataFrame({'name': ['John', 'Alice', 'Bob'], 'age': [25, 30, 35]})

# create a new column with a constant value
df['city'] = 'New York'

# create a new column by applying a function to existing columns
df['age_in_months'] = df['age'] * 12

# create a new column by applying a lambda function to existing columns
df['age_squared'] = df['age'].apply(lambda x: x ** 2)

# create a new column by conditional logic
df['is_old'] = df['age'] > 30

In [12]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\anwar\anaconda3\lib\site-packages (3.0.9)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: et-xmlfile in c:\users\anwar\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [13]:
from openpyxl import load_workbook
from openpyxl.workbook.workbook import Workbook

In [14]:
wb = load_workbook(filename='PEC-Database.xlsx')

In [15]:
# Loop through each sheet in the workbook and create a new workbook for each sheet:

for sheet in wb:
    new_wb = Workbook()
    new_wb.remove(new_wb.active)
    new_wb.create_sheet(title=sheet.title)

In [16]:
# Copy the contents of the original sheet to the new workbook:

for sheet in wb:
    new_wb = Workbook()
    new_wb.remove(new_wb.active)
    new_wb.create_sheet(title=sheet.title)
    new_sheet = new_wb[sheet.title]
    for row in sheet:
        for cell in row:
            new_sheet[cell.coordinate].value = cell.value

In [17]:
# Save each new workbook as a separate file:

for sheet in wb:
    new_wb = Workbook()
    new_wb.remove(new_wb.active)
    new_wb.create_sheet(title=sheet.title)
    new_sheet = new_wb[sheet.title]
    for row in sheet:
        for cell in row:
            new_sheet[cell.coordinate].value = cell.value
    new_wb.save(sheet.title + '.xlsx')

In [ ]:
import pandas as pd

# Load the Excel sheet into a DataFrame
df = pd.read_excel('data.xlsx', sheet_name='Sheet1')

grouped = df.groupby('category')

In [ ]:
# Iterate through the groups
for name, group in grouped:
    # Save the group to a separate Excel file
    group.to_excel(f'{name}.xlsx', index=False)

In [ ]:
# merging columns

newf["ADdress"] = newf['Address'].astype(str) +","+ newf["Address.1"].astype(str)+","+ newf["Address.2"].astype(str)+","+ newf["Address.3"].astype(str)
newf.info()

In [ ]:
# merging columns in pandas